* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.main {
    display: flex;
    gap: 20px;
}

.box {
    height: 300px;
    width: 250px;
    background-color: red;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.box:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.box h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    pointer-events: none;
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}